<div class="outer">

  <div *ngIf="status" class="details">
    <div class="slots">
      <div *ngFor="let item of status.slots" [class.available]="item.available" class="slot">
        <i class="fas fa-parking"></i>
      </div>
    </div>
  </div>

  <div class="big-area" [ngClass]="getBigAreaClass()">
    <div class="header-box">
        <i [ngClass]="calculateBigAreaIcon()"></i>
        <div class="message">{{generalMessage}}</div>
    </div>
  </div>

  <img *ngIf="status" [src]="getImageUrl()" alt="image" class="latest">

</div>
