/* Color plate: https://www.canva.com/colors/color-palettes/light-cherry-blush/ */

.outer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.big-area {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-area.available {
  background-color: #839450;
  color: white;
}
.big-area.unavailable {
  background-color: #C15160;
  color: white;
}

.big-area .header-box {
  text-align: center;
  margin: 0;
}

.big-area .header-box .message {
  margin-top: 20px;
  min-height: 50px;
  white-space: pre-line;
}

.big-area .icon-connecting {
  color: #839450;
}

.details {
  padding: 20px 0;
  border-bottom: 3px #987070 solid;
  background-color: #F7EDE0;
}

.details .slots {
  display: flex;
}

.details .slots .slot {
  flex: 1;
  text-align: center;
  vertical-align: center;
  color: #C15160;
  font-size: 2em;
}

.details .slots .slot.available {
  color: #839450;
}

img.latest {
  width: 100%;
}
