<div class="outer">

  <div class="meta-bar">
    <i *ngIf="isLoading" class="fas fa-spinner fa-spin fa-beat-fade fa-2x"></i>
    <div class="last-update">
      <span *ngIf="status?.lastUpdate">מעודכן {{getLastUpdateFromNow()}} ({{getLastUpdateTime()}}) </span>
      <span *ngIf="generalMessage"><i class="fas fa-exclamation-triangle"></i>התרחשה שגיאה</span>
    </div>
    <i *ngIf="isLoading" class="fas fa-spinner fa-spin fa-beat-fade fa-2x"></i>
  </div>

  <div class="details">
    <div *ngIf="status" class="slots">
      <div *ngFor="let item of status.slots" [class.available]="item.available" class="slot">
        <i class="fas fa-parking"></i>
      </div>
    </div>
  </div>

  <div *ngIf="status" class="header" [class.available]="isAvailableSlot()">
    <div class="header-box">
      <i class="fas fa-parking"></i>
      <br>
      <span *ngIf="isAvailableSlot() else NotAvailable">פנוי</span>
      <ng-template #NotAvailable>תפוס</ng-template>
    </div>
  </div>

  <img [src]="getImageUrl()" alt="image" class="latest">
</div>
