<div *ngIf="!isLoading else Loading" class="outer">
  <div *ngIf="status else Error" class="outer">

    <div class="details">
      <div class="slots">
        <div *ngFor="let item of status.slots" [class.available]="item.available" class="slot">
          <i class="fas fa-parking"></i>
        </div>
      </div>
    </div>

    <div class="header" [class.available]="isAvailableSlot()">
      <div class="header-box">
        <i class="fas fa-parking"></i>
        <br>
        <span *ngIf="isAvailableSlot() else NotAvailable">Available</span>
        <ng-template #NotAvailable>Not available</ng-template>
      </div>
    </div>

    <img [src]="getImageUrl()" alt="image" class="latest">
  </div>
</div>

<ng-template #Error>
  An error occurred
  <br>
  {{error}}
</ng-template>

<ng-template #Loading>
  Loading...
</ng-template>
